[submodule "fluid"]
	path = fluid
	url = https://github.com/lirios/fluid.git
[submodule "aria2"]
	path = aria2
	url = https://github.com/aria2/aria2.git
[submodule "quazip"]
	path = quazip
	url = https://github.com/stachenov/quazip.git
