[Desktop Entry]
Version=1.5
Name=Unvanquished
Comment=FPS/RTS Game - Aliens vs. Humans
Icon=unvanquished
Terminal=false
Type=Application
Exec="%1/updater" -- %u
TryExec=%1/updater
MimeType=x-scheme-handler/unv
Categories=Game;ActionGame;StrategyGame;
# Probably doesn't work since the updater is initially launched, not daemon
PrefersNonDefaultGPU=true
